In [17]:
from os import listdir
import pandas as pd
import io

#### Unwise data collection

In [7]:
# Step 1
# List the data
filenames = listdir('Speeches')
print(filenames)

['DesMoinesJan30_2020.txt', 'FreelandSep10_2020.txt', 'MilwaukeeJan14_2020.txt', 'HersheyDec10_2019.txt', 'CincinnatiAug1_2019.txt', 'TulsaJun20_2020.txt', 'TupeloNov1_2019.txt', 'CharlotteMar2_2020.txt', 'LexingtonNov4_2019.txt', 'NewHampshireFeb10_2020.txt', 'NewMexicoSep16_2019.txt', 'ColoradorSpringsFeb20_2020.txt', 'TexasSep23_2019.txt', 'Winston-SalemSep8_2020.txt', 'YumaAug18_2020.txt', 'LasVegasFeb21_2020.txt', 'FayettevilleSep19_2020.txt', 'DallasOct17_2019.txt', 'MindenSep12_2020.txt', 'FayettevilleSep9_2019.txt', 'PhoenixFeb19_2020.txt', 'NewHampshireAug28_2020.txt', 'HendersonSep13_2020.txt', 'GreenvilleJul17_2019.txt', 'BattleCreekDec19_2019.txt', 'OhioSep21_2020.txt', 'MosineeSep17_2020.txt', 'ToledoJan9_2020.txt', 'BemidjiSep18_2020.txt', 'NewHampshireAug15_2019.txt', 'MinneapolisOct10_2019.txt', 'WildwoodJan28_2020.txt', 'CharlestonFeb28_2020.txt', 'PittsburghSep22_2020.txt', 'LatrobeSep3_2020.txt']

In [9]:
# Step 2
# Create a DataFrame that hold the value
speech_df = pd.DataFrame(index=range(len(filenames)), columns=['File Name', 'Content'])
print(speech_df)

   File Name Content
0        NaN     NaN
1        NaN     NaN
2        NaN     NaN
3        NaN     NaN
4        NaN     NaN
5        NaN     NaN
6        NaN     NaN
7        NaN     NaN
8        NaN     NaN
9        NaN     NaN
10       NaN     NaN
11       NaN     NaN
12       NaN     NaN
13       NaN     NaN
14       NaN     NaN
15       NaN     NaN
16       NaN     NaN
17       NaN     NaN
18       NaN     NaN
19       NaN     NaN
20       NaN     NaN
21       NaN     NaN
22       NaN     NaN
23       NaN     NaN
24       NaN     NaN
25       NaN     NaN
26       NaN     NaN
27       NaN     NaN
28       NaN     NaN
29       NaN     NaN
30       NaN     NaN
31       NaN     NaN
32       NaN     NaN
33       NaN     NaN
34       NaN     NaN

In [26]:
for i, f_name in enumerate(filenames):
    f = io.open('Speeches/'+f_name, "r", encoding='utf-8')
    f_content = f.readlines()
    speech_df.at[i, 'File Name'] = f_name
    speech_df.at[i, 'Content'] = f_content[0]
    
speech_df

,File Name,Content
0,DesMoinesJan30_2020.txt,I worked so hard for this state. I worked so h...
1,FreelandSep10_2020.txt,"We brought you a lot of car plants, Michigan. ..."
2,MilwaukeeJan14_2020.txt,Well thank you very much. And I'm thrilled to ...
3,HersheyDec10_2019.txt,"Well, thank you to Vice President Pence. Than..."
4,CincinnatiAug1_2019.txt,Thank you all. Thank you very much. Thank you ...
5,TulsaJun20_2020.txt,"Thank you, thank you. So we begin, Oklahoma, w..."
6,TupeloNov1_2019.txt,"ell, thank you very much. And hello, Tupelo. T..."
7,CharlotteMar2_2020.txt,"I want to thank you very much. North Carolina,..."
8,LexingtonNov4_2019.txt,Thank you very much and thank you to the origi...
9,NewHampshireFeb10_2020.txt,"Hello, Manchester, and I am thrilled to be in ..."
10,NewMexicoSep16_2019.txt,"Wow, thank you. Thank you, New Mexico. Thank ..."
11,ColoradorSpringsFeb20_2020.txt,"Hello Colorado. We love Colorado, most beautif..."
12,TexasSep23_2019.txt,"Hello, Houston. I am so thrilled to be here in..."
13,Winston-SalemSep8_2020.txt,"Well, thank you very much. Thank you. Thank yo..."
14,YumaAug18_2020.txt,"Oh, thank you very much, everybody. Thank you...."
15,LasVegasFeb21_2020.txt,"Well, thank you very much. And hello Las Vegas..."
16,FayettevilleSep19_2020.txt,"What a crowd, what a crowd. Get those people o..."
17,DallasOct17_2019.txt,Thank you. Thank you very much. Hello Dallas. ...
18,MindenSep12_2020.txt,"Well, I thank you very much. So I want to star..."
19,FayettevilleSep9_2019.txt,Thank you everybody. Thank you and Vice Presi...
20,PhoenixFeb19_2020.txt,"Thank you very much, Phoenix. We love to be b..."
21,NewHampshireAug28_2020.txt,"Hello, everybody. Hello, everybody. Wow. Hello..."
22,HendersonSep13_2020.txt,"Thank you, thank you. Wow. Wow, and I'm thrill..."
23,GreenvilleJul17_2019.txt,Thank you very much. Thank you. Thank you. Tha...
24,BattleCreekDec19_2019.txt,Thank you. Thank you. Thank you to Vice Presid...
25,OhioSep21_2020.txt,"Wow, that's a big crowd. This is a big crowd. ..."
26,MosineeSep17_2020.txt,"Thank you, thank you very much. Thank you very..."
27,ToledoJan9_2020.txt,"Well, thank you very much. Vice President Mike..."
28,BemidjiSep18_2020.txt,There's a lot of people. That's great. Thank y...
29,NewHampshireAug15_2019.txt,Thank you very much everybody. Thank you. Wow...
30,MinneapolisOct10_2019.txt,"Thank you very much. Thank you, Minnesota. Thi..."
31,WildwoodJan28_2020.txt,Thank you. Thank you. I love New Jersey and I'...
32,CharlestonFeb28_2020.txt,Thank you. Thank you. Thank you. All I can say...
33,PittsburghSep22_2020.txt,Doesn't have the power. Doesn't have the stayi...
34,LatrobeSep3_2020.txt,"So thank you Pennsylvania, very much. I'm thri..."

In [27]:
print(speech_df['File Name'])
print(speech_df['Content'])

0            DesMoinesJan30_2020.txt
1             FreelandSep10_2020.txt
2            MilwaukeeJan14_2020.txt
3              HersheyDec10_2019.txt
4            CincinnatiAug1_2019.txt
5                TulsaJun20_2020.txt
6                TupeloNov1_2019.txt
7             CharlotteMar2_2020.txt
8             LexingtonNov4_2019.txt
9         NewHampshireFeb10_2020.txt
10           NewMexicoSep16_2019.txt
11    ColoradorSpringsFeb20_2020.txt
12               TexasSep23_2019.txt
13        Winston-SalemSep8_2020.txt
14                YumaAug18_2020.txt
15            LasVegasFeb21_2020.txt
16        FayettevilleSep19_2020.txt
17              DallasOct17_2019.txt
18              MindenSep12_2020.txt
19         FayettevilleSep9_2019.txt
20             PhoenixFeb19_2020.txt
21        NewHampshireAug28_2020.txt
22           HendersonSep13_2020.txt
23          GreenvilleJul17_2019.txt
24         BattleCreekDec19_2019.txt
25                OhioSep21_2020.txt
26             MosineeSep17_2020.txt
27               ToledoJan9_2020.txt
28             BemidjiSep18_2020.txt
29        NewHampshireAug15_2019.txt
30         MinneapolisOct10_2019.txt
31            WildwoodJan28_2020.txt
32          CharlestonFeb28_2020.txt
33          PittsburghSep22_2020.txt
34              LatrobeSep3_2020.txt
Name: File Name, dtype: object
0     I worked so hard for this state. I worked so h...
1     We brought you a lot of car plants, Michigan. ...
2     Well thank you very much. And I'm thrilled to ...
3      Well, thank you to Vice President Pence. Than...
4     Thank you all. Thank you very much. Thank you ...
5     Thank you, thank you. So we begin, Oklahoma, w...
6     ell, thank you very much. And hello, Tupelo. T...
7     I want to thank you very much. North Carolina,...
8     Thank you very much and thank you to the origi...
9     Hello, Manchester, and I am thrilled to be in ...
10     Wow, thank you. Thank you, New Mexico. Thank ...
11    Hello Colorado. We love Colorado, most beautif...
12    Hello, Houston. I am so thrilled to be here in...
13    Well, thank you very much. Thank you. Thank yo...
14    Oh, thank you very much, everybody. Thank you....
15    Well, thank you very much. And hello Las Vegas...
16    What a crowd, what a crowd. Get those people o...
17    Thank you. Thank you very much. Hello Dallas. ...
18    Well, I thank you very much. So I want to star...
19     Thank you everybody. Thank you and Vice Presi...
20     Thank you very much, Phoenix. We love to be b...
21    Hello, everybody. Hello, everybody. Wow. Hello...
22    Thank you, thank you. Wow. Wow, and I'm thrill...
23    Thank you very much. Thank you. Thank you. Tha...
24    Thank you. Thank you. Thank you to Vice Presid...
25    Wow, that's a big crowd. This is a big crowd. ...
26    Thank you, thank you very much. Thank you very...
27    Well, thank you very much. Vice President Mike...
28    There's a lot of people. That's great. Thank y...
29     Thank you very much everybody. Thank you. Wow...
30    Thank you very much. Thank you, Minnesota. Thi...
31    Thank you. Thank you. I love New Jersey and I'...
32    Thank you. Thank you. Thank you. All I can say...
33    Doesn't have the power. Doesn't have the stayi...
34    So thank you Pennsylvania, very much. I'm thri...
Name: Content, dtype: object

In [29]:
print(speech_df.File Name) # This error is because of the space in File Name

SyntaxError: invalid syntax (<ipython-input-29-df4846bb1d85>, line 1)

In [30]:
# Change the column name
speech_df.columns = ['FileName', 'Content']

In [31]:
print(speech_df.FileName)

0            DesMoinesJan30_2020.txt
1             FreelandSep10_2020.txt
2            MilwaukeeJan14_2020.txt
3              HersheyDec10_2019.txt
4            CincinnatiAug1_2019.txt
5                TulsaJun20_2020.txt
6                TupeloNov1_2019.txt
7             CharlotteMar2_2020.txt
8             LexingtonNov4_2019.txt
9         NewHampshireFeb10_2020.txt
10           NewMexicoSep16_2019.txt
11    ColoradorSpringsFeb20_2020.txt
12               TexasSep23_2019.txt
13        Winston-SalemSep8_2020.txt
14                YumaAug18_2020.txt
15            LasVegasFeb21_2020.txt
16        FayettevilleSep19_2020.txt
17              DallasOct17_2019.txt
18              MindenSep12_2020.txt
19         FayettevilleSep9_2019.txt
20             PhoenixFeb19_2020.txt
21        NewHampshireAug28_2020.txt
22           HendersonSep13_2020.txt
23          GreenvilleJul17_2019.txt
24         BattleCreekDec19_2019.txt
25                OhioSep21_2020.txt
26             MosineeSep17_2020.txt
27               ToledoJan9_2020.txt
28             BemidjiSep18_2020.txt
29        NewHampshireAug15_2019.txt
30         MinneapolisOct10_2019.txt
31            WildwoodJan28_2020.txt
32          CharlestonFeb28_2020.txt
33          PittsburghSep22_2020.txt
34              LatrobeSep3_2020.txt
Name: FileName, dtype: object

#### Reindexing(Multi-Leel Indexing)

In [46]:
temp_df = pd.read_csv('TempData.csv')
temp_df.head()

   Temp  Year  Month  Day      Time
0  79.0  2016      1    1  00:00:00
1  79.0  2016      1    1  00:30:00
2  79.0  2016      1    1  01:00:00
3  77.0  2016      1    1  01:30:00
4  78.0  2016      1    1  02:00:00

In [47]:
# Here columns are converted to index and more than one column can be used for indexing. This is reindexing
temp_df_2016 = temp_df.drop(columns=['Year'])

In [48]:
temp_df_2016

       Temp  Month  Day      Time
0      79.0      1    1  00:00:00
1      79.0      1    1  00:30:00
2      79.0      1    1  01:00:00
3      77.0      1    1  01:30:00
4      78.0      1    1  02:00:00
5      77.0      1    1  02:00:00
6      79.0      1    1  02:30:00
7      79.0      1    1  03:00:00
8      77.0      1    1  03:30:00
9      77.0      1    1  04:00:00
10     77.0      1    1  04:30:00
11     77.0      1    1  05:00:00
12     77.0      1    1  05:00:00
13     77.0      1    1  05:30:00
14     77.0      1    1  06:00:00
15     77.0      1    1  06:30:00
16     77.0      1    1  07:00:00
17     79.0      1    1  07:30:00
18     80.0      1    1  08:00:00
19     81.0      1    1  08:00:00
20     81.0      1    1  08:30:00
21     82.0      1    1  09:00:00
22     82.0      1    1  09:30:00
23     82.0      1    1  10:00:00
24     82.0      1    1  10:30:00
25     83.0      1    1  11:00:00
26     82.0      1    1  11:00:00
27     82.0      1    1  11:30:00
28     81.0      1    1  12:00:00
29     82.0      1    1  12:30:00
...     ...    ...  ...       ...
20423  84.0     12   31  11:00:00
20424  79.0     12   31  11:30:00
20425  75.0     12   31  12:00:00
20426  75.0     12   31  12:30:00
20427  77.0     12   31  13:00:00
20428  79.0     12   31  13:30:00
20429  77.0     12   31  14:00:00
20430  77.0     12   31  14:00:00
20431  79.0     12   31  14:30:00
20432  79.0     12   31  15:00:00
20433  81.0     12   31  15:30:00
20434  79.0     12   31  16:00:00
20435  79.0     12   31  16:30:00
20436  80.0     12   31  17:00:00
20437  81.0     12   31  17:00:00
20438  79.0     12   31  17:30:00
20439  79.0     12   31  18:00:00
20440  79.0     12   31  18:30:00
20441  79.0     12   31  19:00:00
20442  77.0     12   31  19:30:00
20443  77.0     12   31  20:00:00
20444  77.0     12   31  20:00:00
20445  77.0     12   31  20:30:00
20446  77.0     12   31  21:00:00
20447  77.0     12   31  21:30:00
20448  77.0     12   31  22:00:00
20449  77.0     12   31  22:30:00
20450  77.0     12   31  23:00:00
20451  77.0     12   31  23:00:00
20452  77.0     12   31  23:30:00

[20453 rows x 4 columns]

In [49]:
# set index to do multi indexing
temp_df_2016.set_index(['Month', 'Day', 'Time'], inplace=True)

In [50]:
temp_df_2016

                    Temp
Month Day Time
1     1   00:00:00  79.0
          00:30:00  79.0
          01:00:00  79.0
          01:30:00  77.0
          02:00:00  78.0
          02:00:00  77.0
          02:30:00  79.0
          03:00:00  79.0
          03:30:00  77.0
          04:00:00  77.0
          04:30:00  77.0
          05:00:00  77.0
          05:00:00  77.0
          05:30:00  77.0
          06:00:00  77.0
          06:30:00  77.0
          07:00:00  77.0
          07:30:00  79.0
          08:00:00  80.0
          08:00:00  81.0
          08:30:00  81.0
          09:00:00  82.0
          09:30:00  82.0
          10:00:00  82.0
          10:30:00  82.0
          11:00:00  83.0
          11:00:00  82.0
          11:30:00  82.0
          12:00:00  81.0
          12:30:00  82.0
...                  ...
12    31  11:00:00  84.0
          11:30:00  79.0
          12:00:00  75.0
          12:30:00  75.0
          13:00:00  77.0
          13:30:00  79.0
          14:00:00  77.0
          14:00:00  77.0
          14:30:00  79.0
          15:00:00  79.0
          15:30:00  81.0
          16:00:00  79.0
          16:30:00  79.0
          17:00:00  80.0
          17:00:00  81.0
          17:30:00  79.0
          18:00:00  79.0
          18:30:00  79.0
          19:00:00  79.0
          19:30:00  77.0
          20:00:00  77.0
          20:00:00  77.0
          20:30:00  77.0
          21:00:00  77.0
          21:30:00  77.0
          22:00:00  77.0
          22:30:00  77.0
          23:00:00  77.0
          23:00:00  77.0
          23:30:00  77.0

[20453 rows x 1 columns]

#### intuitive but long column tiles

In [51]:
response_df = pd.read_csv('OSMI Mental Health in Tech Survey 2019.csv')
response_df.head()

,*Are you self-employed?*,How many employees does your company or organization have?,Is your employer primarily a tech company/organization?,Is your primary role within your company related to tech/IT?,Does your employer provide mental health benefits as part of healthcare coverage?,Do you know the options for mental health care available under your employer-provided health coverage?,"Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?",Does your employer offer resources to learn more about mental health disorders and options for seeking help?,Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?,"If a mental health issue prompted you to request a medical leave from work, how easy or difficult would it be to ask for that leave?",...,Briefly describe what you think the industry as a whole and/or employers could do to improve mental health support for employees.,"If there is anything else you would like to tell us that has not been covered by the survey questions, please use this space to do so.",Would you be willing to talk to one of us more extensively about your experiences with mental health issues in the tech industry? (Note that all interview responses would be used _anonymously_ and only with your permission.),What is your age?,What is your gender?,What country do you *live* in?,What US state or territory do you *live* in?,What is your race?,What country do you *work* in?,What US state or territory do you *work* in?
0,False,26-100,True,True,I don't know,No,Yes,Yes,I don't know,Very easy,...,NaN,NaN,False,25,Male,United States of America,Nebraska,White,United States of America,Nebraska
1,False,26-100,True,True,Yes,No,No,Yes,Yes,I don't know,...,NaN,NaN,False,51,male,United States of America,Nebraska,White,United States of America,Nebraska
2,False,26-100,True,True,I don't know,No,No,I don't know,I don't know,Somewhat difficult,...,I think opening up more conversation around th...,Thank you,True,27,Male,United States of America,Illinois,White,United States of America,Illinois
3,False,100-500,True,True,I don't know,No,Yes,Yes,Yes,Very easy,...,NaN,NaN,False,37,male,United States of America,Nebraska,White,United States of America,Nebraska
4,False,26-100,True,True,I don't know,No,I don't know,I don't know,I don't know,I don't know,...,NaN,NaN,False,46,m,United States of America,Nebraska,White,United States of America,Nebraska

In [53]:
keys = ['Q{}'.format(i) for i in range(1,83)]
keys

['Q1',
 'Q2',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q10',
 'Q11',
 'Q12',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q18',
 'Q19',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q27',
 'Q28',
 'Q29',
 'Q30',
 'Q31',
 'Q32',
 'Q33',
 'Q34',
 'Q35',
 'Q36',
 'Q37',
 'Q38',
 'Q39',
 'Q40',
 'Q41',
 'Q42',
 'Q43',
 'Q44',
 'Q45',
 'Q46',
 'Q47',
 'Q48',
 'Q49',
 'Q50',
 'Q51',
 'Q52',
 'Q53',
 'Q54',
 'Q55',
 'Q56',
 'Q57',
 'Q58',
 'Q59',
 'Q60',
 'Q61',
 'Q62',
 'Q63',
 'Q64',
 'Q65',
 'Q66',
 'Q67',
 'Q68',
 'Q69',
 'Q70',
 'Q71',
 'Q72',
 'Q73',
 'Q74',
 'Q75',
 'Q76',
 'Q77',
 'Q78',
 'Q79',
 'Q80',
 'Q81',
 'Q82']

In [55]:
columns_dic = pd.Series(response_df.columns,index=keys)
columns_dic

Q1                              *Are you self-employed?*
Q2     How many employees does your company or organi...
Q3     Is your employer primarily a tech company/orga...
Q4     Is your primary role within your company relat...
Q5     Does your employer provide mental health benef...
Q6     Do you know the options for mental health care...
Q7     Has your employer ever formally discussed ment...
Q8     Does your employer offer resources to learn mo...
Q9     Is your anonymity protected if you choose to t...
Q10    If a mental health issue prompted you to reque...
Q11    Would you feel more comfortable talking to you...
Q12    Would you feel comfortable discussing a mental...
Q13    Have you ever discussed your mental health wit...
Q14    Describe the conversation you had with your em...
Q15    Would you feel comfortable discussing a mental...
Q16    Have you ever discussed your mental health wit...
Q17    Describe the conversation with coworkers you h...
Q18    Have you ever had a coworker discuss their or ...
Q19    Describe the conversation your coworker had wi...
Q20    Overall, how much importance does your employe...
Q21    Overall, how much importance does your employe...
Q22    Do you have medical coverage (private insuranc...
Q23    Do you know local or online resources to seek ...
Q24    If you have been diagnosed or treated for a me...
Q25    If you have revealed a mental health disorder ...
Q26    If you have been diagnosed or treated for a me...
Q27    If you have revealed a mental health disorder ...
Q28    Do you believe your productivity is ever affec...
Q29    If yes, what percentage of your work time (tim...
Q30                    *Do you have previous employers?*
                             ...
Q53    Have you had a mental health disorder in the p...
Q54    Have you ever sought treatment for a mental he...
Q55      Do you have a family history of mental illness?
Q56    If you have a mental health disorder, how ofte...
Q57    If you have a mental health disorder, how ofte...
Q58    Have your observations of how another individu...
Q59    How willing would you be to share with friends...
Q60    Would you be willing to bring up a physical he...
Q61                                      Why or why not?
Q62    Would you bring up your *mental* health with a...
Q63                                    Why or why not?.1
Q64    Are you openly identified at work as a person ...
Q65    Has being identified as a person with a mental...
Q66                     How has it affected your career?
Q67    If they knew you suffered from a mental health...
Q68    Have you observed or experienced an *unsupport...
Q69    Describe the circumstances of the badly handle...
Q70    Have you observed or experienced a *supportive...
Q71    Describe the circumstances of the supportive o...
Q72    Overall, how well do you think the tech indust...
Q73    Briefly describe what you think the industry a...
Q74    If there is anything else you would like to te...
Q75    Would you be willing to talk to one of us more...
Q76                                    What is your age?
Q77                                 What is your gender?
Q78                       What country do you *live* in?
Q79         What US state or territory do you *live* in?
Q80                                   What is your race?
Q81                       What country do you *work* in?
Q82         What US state or territory do you *work* in?
Length: 82, dtype: object

In [56]:
response_df.columns = keys

In [ ]:
re